*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline-style: none;
    border: none;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.8rem;
}

a{
    color: #f8f8f8;
}
.secao-logo>button{
    background-color: rgb(83, 194, 83);
    color: #e1e1e1;
    width: 7.4rem;
    height: 2.4rem;
    border-radius: 0.4rem;
}
.secao-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0.8rem;
    background-color:#333333;
    
}
.secao-opcao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 6.0rem;
    height: 4.0rem;
    background-color: #111111;
    
}
.box-menu{
    display: flex;
    align-items: center;
    gap: 3.0rem;
    position: relative;
}
.item-menu>a:hover{
    color:rgb(151, 205, 255);
}
.item-menu.Pricing::before{
    content:"";
    display: block;
    background-color: #7e7d7d;
    position: absolute;
    width: 0.1rem;
    height: 1.5rem;
    margin-left:-1.5rem;
        
}
.box-social{
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-left: 3.0rem;
    position: relative;
}
select{
    background-color: #111111;
    color: #e1e1e1;
    cursor: pointer;
}

.box-social::before{
    display: block;
    content:"";
    width: 1px;
    height: 3.9rem;
    background-color:#7e7d7d;
    position: absolute;
    right: 100%;
}
.redes{
    display: flex;
    align-items: center;
    gap: 30px;
}

.box-social>li>a>img{
    width: 20px;

}
.secao-principal{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-top: 3.0rem;
}
.box-principal{
    background-color:#f8f8f8;
    width: 70rem;
    height: 50rem;

}
.box-principalABS{
    position: absolute;
    left: 8rem;
    top: 8rem;
}
.box-principalABS > span{
    display: block;
    margin-top: 19%;
    padding-bottom: 1.2rem;
    font-size: 1.2rem;
    color:rgb(151, 205, 255);
}
.box-principalABS>h1{
    font-size: 9rem;
}
.box-principalABS>button{
    width: 13.2rem;
    height: 4.2rem;
    margin-top: 48px;
    background-color:rgb(27, 143, 252);
    color: #e1e1e1;
    cursor: pointer;
}
.foto2{
    display: block;
    width: 40rem;
    height: 40rem;
    margin-top: 11rem;    
}
#secao-about{
    padding-top: 6rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.about-img>img{
    width: 60rem;
    height: 45rem;
}

.about-informacao{
    display: flex;
    flex-flow: column wrap;
    gap:2.6rem;
    padding: 0px 6rem;
    margin-top: 3rem;
    
    
}
.about-informacao>span{
    display: block;
    width: 10rem;
    padding: 0.2rem 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 12px;
    color: blue;
    background-color: rgba(113, 171, 238, 0.562);
}
.servicos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:3rem;

}
.servicos>label{
    display:flex;
    flex-direction: column;
    align-items: center;

}

.servicos>label>img{
    width: 10rem;
}
.contato{
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
    border-top: 2px solid #acacac46;

}
.contato>button{
    width: 12rem;
    height: 4rem;
    margin-right: 5rem;
    color:#e1e1e1;
    font-weight: bold;
    background-color: rgb(42, 149, 236);
}
.contato>img{
    width: 5.2rem;
}

#our-features{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:09rem 6rem ;
    text-align: center;
    margin-bottom: 4rem;
}

#our-features>span{
    width: auto;
    background-color: rgba(113, 171, 238, 0.562);
    padding: 0.1rem 0.4rem;
    border-radius: 0.8rem;
    margin-bottom:2.4rem;    
}
#our-features>h1{
    margin-bottom: 6rem;

}
.features{
    
    display: flex;
    text-align: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:5rem;
 }
 .box{
     width: 30rem
 }
.accurate>img{
    margin-bottom: 1.2rem
}
.key-insights>img{
    margin-bottom: 0.8rem
}

.defect-forecasting>img{
    margin-bottom: 0.6rem
}
.box>button{
    margin: 2rem 0;
    background-color:transparent;
}

#pricing{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}
#pricing>h4{
    background-color:rgba(113, 171, 238, 0.562);
    border-radius: 4px;
    width: 120px;
    padding: 1px 4px;
    margin-bottom: 2.4rem;
}

#pricing>h1{
    margin-top: 6px;
    font-size: 2.7rem;
}

.conteiner-pricing{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap:30px;
}


.pricing{
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    background-color:rgba(113, 171, 238, 0.562);
    height: 400px;
    width: 350px;
}


@media (max-width:1024px) {
    html{
        font-size: 56%;
    }
   .redes{
        display: none;
    }
    .foto2{
        display:none;
    }
    .about-img>img{
        display: none;
    }
    #secao-about{
        margin-top: 15vh;
    }

    .conteiner-pricing{
        justify-content: center;
    }
    .contato>img{
        display: none;
    }
    .servicos{
        flex-wrap: wrap;
        justify-content: center;
    }
    .features{
        justify-content: center;
    }

}
@media (max-width:400px) {
    body{
        font-size: 1.8rem;
    }
    
    .box-principal{
        height: 60rem;
    }
    .box-principalABS{
        left:1rem;
        top:22%;
    
    }
    .box-principalABS>h1{

        font-size:4.5rem;
        letter-spacing: 2px;
    }
    #secao-about{
        margin-top: 3rem;
        padding-top: 0rem;
    }
    .pricing{
        width: 30rem;
        height: 30rem;
    }
    
    #our-features{
        padding-top: 5rem;
        margin-top: 6rem;
    }
    
}